@model KioskWebWizard.ViewModel.Kiosk.KioskCreateViewModel2

@{
    ViewData["Title"] = "Create2";
}

<h2>Podaj dane dotyczące kiosku z mapą interaktywną</h2>
<hr />
<div class="table text-md-center d-flex justify-content-center pt-lg-5">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MapName" class="control-label">Nazwa Mapy</label>
                <input asp-for="MapName" class="form-control" />
                <span asp-validation-for="MapName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Wróc do strony głównej</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
