@model KioskWebWizard.ViewModel.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Ilość utworzonych kiosków: @Model.NumberOfKiosks</p>
    <p>
        <a asp-action="Create" asp-controller="Kiosk">Utwórz nowy kiosk</a> |
        <a asp-action="Index" asp-controller="Kiosk">Wyświetl wszystkie utworzone kioski</a>
    </p>
    <p>
        <a asp-action="CreateTemplate" asp-controller="Kiosk">Utwórz nowy szablon</a> |
        <a asp-action="ListTemplate" asp-controller="Kiosk">Wyświetl utworzone szablony</a>
    </p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

